/* Global*/
* {
  font-family: Roboto, Arial, "sans-serif";
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  width: 100vh;
}

button {
  background-color: #00838f;
  text-transform: uppercase;
  color: white;
  font-size: larger;
}

li {
  box-sizing: border-box;
  padding: 22px;
  height: 66px;
}

.divider {
  height: 120px;
}

/*====================================================================================*/

/* App Bar*/

.headbar-channel {
  background-color: #eeeeee;
  height: 60px;
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  line-height: 0;
}

#logo {
  background-color: #00838f;
  position: absolute;
  border-radius: 0.45vh;
  left: 12px;
  top: 12px;
  bottom: 12px;
  width: 46px;
  padding: 0.1px;
}

#channel-title {
  position: absolute;
  left: 58px;
  margin-left: 10px;
  padding: 35px 0;
}

h1 {
  color: #00838f;
  font-size: large;
  font-weight: bold;
}

.headbar-chat {
  position: fixed;
  background-color: #eeeeee;
  height: 40px;
  left: 400px;
  top: 0px;
  width: calc(100% - 400px);
  padding-left: 0px;
  padding-top: 15px;
  padding-right: 0px;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#chat-title {
  margin-left: 25px;
}

/* Rules for using icons as white on a dark background. */
#favorite-button {
  margin-right: 20px;
  color: #00838f;
  cursor: pointer;
}
#add-button {
  width: 44px;
  height: 44px;
  background-color: #00838f;
  border-radius: 50%;
  box-shadow: 0 2px 5px 0 #aaaaaa;

  font-size: 36px;
  color: white;
  text-align: center;
  line-height: 44px;

  position: absolute;
  top: 47px;
  right: 22px;

  cursor: pointer;
}
.material-icons.md-inactive {
  margin-right: 5px;
  color: #00838f;
}

/*====================================================================================*/

/* Channel Lists*/

#channels-view {
  vertical-align: top;
  height: 100vh;
  width: 399px;
  position: fixed;
  border-right: 1px solid grey;
}

#channel-area {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
}
.heading {
  color: #00838f;
  font-size: smaller;
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 10px;
  padding-top: 0px;
  padding-bottom: 5px;
  height: 25px;
}

#selected {
  background-color: #eeeeee;
  height: 66px;
  width: 399px;
  border-right: 3px solid #00838f;
}

.channel-list {
  background-color: white;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.channel-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.channel-name {
  font-weight: bold;
  font-size: 16px;
  margin: 0px 22px;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 1 1 auto;
}
.timestamp {
  color: #666666;
  font-size: small;
  padding-left: 0;
  padding-top: 5px;
  padding-bottom: 15px;
}
.group-icon {
  color: #666666;
}
.chat-icon {
  color: #666666;
}
/*====================================================================================*/

/* Messages*/

#chat-view {
  position: fixed;
  top: 70px;
  background-color: white;
  height: 100vh;
  left: 400px;
  width: calc(100% - 400px);
  overflow: auto;
}

.username {
  color: #00838f;
  font-size: smaller;
  font-weight: bold;
  padding-top: 0;
  padding-bottom: 10px;
}

.message-wrapper {
  display: flex;
  align-items: flex-end;
}

/*incoming*/

#chat-area {
  box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 26px;
  padding-right: 26px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

#chat-area .incoming {
  align-self: flex-start;
}

#chat-area .incoming .timestamp {
  text-align: left;
  margin-left: 38px;
}

#chat-area .incoming .messages {
  border-top-left-radius: 2vh;
  border-top-right-radius: 2vh;
  border-bottom-right-radius: 2vh;
  border-bottom-left-radius: 0.5vh;
  background-color: #eeeeee;
  width: auto;
  max-width: 75vh;
  padding: 12px;
  margin-left: 15px;
}

/*outgoing*/

#chat-area .outgoing .messages {
  border-top-left-radius: 2vh;
  border-top-right-radius: 2vh;
  border-bottom-right-radius: 0.5vh;
  border-bottom-left-radius: 2vh;
  background-color: #00838f;
  color: white;
  width: auto;
  max-width: 75vh;
  padding: 12px;
  margin-right: 15px;
}

#chat-area .outgoing {
  align-self: flex-end;
}

#chat-area .outgoing .timestamp {
  text-align: right;
  margin-right: 38px;
}

/*input area*/

#input-area {
  position: fixed;
  background-color: #eeeeee;
  height: 35px;
  left: 400px;
  bottom: 0px;
  width: calc(100% - 400px);
  padding-left: 0px;
  padding-top: 15px;
  padding-right: 0px;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

input {
  height: 44px;
  width: 86%;
  border-top-left-radius: 1vh;
  border-top-right-radius: 1vh;
  border-bottom-right-radius: 1vh;
  border-bottom-left-radius: 1vh;
  border: 0;
  padding-left: 15px;
  text-align: start;
}
#emoticon-button {
  width: 45px;
  height: 45px;
  background-color: #00838f;
  border-radius: 50%;
  box-shadow: 0 2px 5px 0 #aaaaaa;

  color: white;
  text-align: center;
  line-height: 44px;

  position: relative;
  left: 5px;
  cursor: pointer;
}
#send-button {
  color: #00838f;
  position: relative;
  right: 0px;
  cursor: pointer;
}

/*====================================================================================*/
