/* Global*/
* {
  font-family: Roboto, Arial, "sans-serif";
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  width: 100vh;
}

img {
  background-color: #00838f;
  margin-top: 0;
}

button {
  background-color: #00838f;
  text-transform: uppercase;
  color: white;
  font-size: larger;
}

li {
  box-sizing: border-box;
  padding: 22px;
  height: 66px;
}

.divider {
  height: 15px;
}

/*====================================================================================*/

/* App Bar*/

.headbar-channel {
  background-color: #eeeeee;
  color: #00838f;
  font-size: large;
  height: 55px;
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  line-height: 0;
  font-weight: bold;
}

.headbar-chat {
  background-color: #eeeeee;
  color: #00838f;
  font-size: large;
  height: 35px;
  padding: 15px;
  line-height: 0;
  font-weight: bold;
}

/*====================================================================================*/

/* Channel Lists*/

#channels-view {
  vertical-align: top;
  height: 100vh;
  width: 399px;
  position: fixed;
  border-right: 1px solid grey;
}

.heading {
  color: #00838f;
  font-size: smaller;
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 25px;
}

.channel-list {
  background-color: white;
  list-style-type: none;
}
.channel-name {
  font-weight: bold;
}
.timestamp {
  color: #666666;
  font-size: small;
  padding-left: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

/*====================================================================================*/

/* Messages*/

#chat-view {
  vertical-align: top;
  background-color: white;
  height: 100vh;
  position: fixed;
  left: 400px;
  width: calc(100% - 400px);
}

.username {
  color: #00838f;
  font-size: smaller;
  font-weight: bold;
  padding-top: 0;
  padding-bottom: 10px;
}

/*incoming*/

#chat-area .incoming .messages {
  background-color: #eeeeee;
  width: 75%;
  padding: 16px;
  margin-left: 15px;
}

/*outgoing*/

#chat-area .outgoing .messages {
  background-color: #00838f;
  color: white;
  width: 75%;
  padding: 16px;
  margin-left: 15px;
}

#selected {
  background-color: #eeeeee;
  height: 66px;
  width: 399px;
  border-right: 3px solid #00838f;
}

/*====================================================================================*/
